.header-fluid {
    background-color: rgb(58, 57, 57);
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    color: whitesmoke;
}

.header-fluid1 {
    background-color: blue;
    min-height: 200px;
}

#first{
    width: 30%;
    height: 45%;
    background: lime;
    padding: 10px;
}

#third{
    width: 40%;
    height: 45%;
    background: lime;
    padding: 10px;
}

#fourth{
    width: 60%;
    height: 45%;
    background: lime;
    padding: 10px;
}

#fifth{
    width: 40%;
    height: 45%;
    background: lime;
    padding: 10px;
}

#sixth{
    width: 40%;
    height: 40%;
    background: lime;
    padding: 10px;
}

#seventh{
    width: 18%;
    height: 45%;
    background: lime;
    padding: 10px;
}

#second{
    width: 20%;
    height: 50%;
    background: rgb(80, 221, 214);
    padding: 10px;
}

h1 {
    text-align: right;
    color: rgb(58, 57, 57);
}

nav {
   float: right;
   padding-top: 40px;
   width: 35%;
}

nav a {
    padding: 10px;
    color: rgb(80, 221, 214);
    font-size: x-large;
}

main {
    max-width: 1025px;
    margin: auto;
    padding-top: 20px;
}

.col-1 h1 {
    text-align: left;
    color: rgb(84, 84, 180);
}

img {
    float: left;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-1 {
    flex-basis: 10%;
    min-width: 150px;
    text-align: left;
}

.col-3 {
    flex-basis: 75%;
    min-width: 300px;
    text-align: left;
}

.contact {
    padding-top: 50px;
    text-decoration: underline;
}

.cards {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.card1 {
    background-position: bottom;
    min-height: 250px;
    width: 100%;   
    border: lime;
    border-width: 5px;
    border-style: outset;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(../images/full-stack.jpg);
    background-size: cover;
}

.card1 h2, p {
    text-decoration: none;
    color: black;
}

.card2 h2, p {
    text-decoration: none;
    color: black;
}

.card3 h2, p {
    text-decoration: none;
    color: black;
}

.card4 h2, p {
    text-decoration: none;
    color: black;
}

.card5 h2, p {
    text-decoration: none;
    color: black;
}

.card2 {
    background-position: bottom;
    min-height: 250px;
    width: 50%;   
    border: lime;
    border-width: 5px;
    border-style: outset;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(../images/front-end.jpg);
    background-size: cover;
}

.card3 {
    background-position: bottom;
    min-height: 250px;
    width: 50%;   
    border: lime;
    border-width: 5px;
    border-style: outset;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card4 {
    background-position: bottom;
    min-height: 250px;
    width: 50%;   
    border: lime;
    border-width: 5px;
    border-style: outset;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(../images/run-buddy.jpg);
    background-size: cover;
}

.card5 {
    background-image: url(//assets/images/hori.png);
    background-position: center;
    min-height: 250px;
    width: 50%;   
    border: lime;
    border-width: 5px;
    border-style: outset;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(../images/horiseon.jpg);
    background-size: cover;
}

.card2 h2, p {
    text-decoration: none;
    color: black;
}

.verticalLine {
    height: 100px;
    border-right: 3px solid rgb(80, 94, 221);
    right: 50%;
}

.verticalLine1 {
    height: 720px;
    border-right: 3px solid rgb(80, 94, 221);
    right: 50%;
}

.verticalLine2 {
    height: 150px;
    border-right: 3px solid rgb(80, 94, 221);
    right: 50%;
}


/* Tablet View */
@media (max-width: 768px) {

    nav {
        display: none;
    }

    #second{
        width: 60%;
    }

    img {
        display: none;
    }

    .col-1 {
        flex-basis: 50%;
        text-align: center;
    }
    
    .col-3 {
        flex-basis: 50%;
        text-align: center;
    }


    .card2 {
        width: 100%;
        text-align: center;   
    }

    .card3 {
        width: 100%;
        text-align: center;
    }

    .card4 {
        width: 100%; 
        text-align: center;
    }

    .card5 {
        width: 100%; 
        text-align: center;
    }

}

/* Mobile View */
@media (max-width: 500px) {

    #second{
        width: 95%;
    }

    h1 {
        text-align: center;
    }

    .col-1 {
        flex-basis: 100%;
    }
    
    .col-3 {
        flex-basis: 100%;
    }

    .card2 {
        width: 100%;   
    }

}
