.header-fluid {
    background-color: rgb(58, 57, 57);
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#second{
    width: 20%;
    height: 50%;
    background: rgb(80, 176, 221);
    padding: 10px;
}

h1 {
    text-align: right;
}

nav {
   float: right;
   padding-top: 40px;
   width: 35%;
}

nav a {
    padding: 10px;
    color: rgb(80, 176, 221);
    font-size: x-large;
}

main {
    max-width: 1025px;
    margin: auto;
    padding-top: 20px;
}

.col-1 h1 {
    text-align: left;
    color: rgb(67, 67, 168);
}

img {
    float: left;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-1 {
    flex-basis: 10%;
    min-width: 150px;
    text-align: left;
}

.col-3 {
    flex-basis: 75%;
    min-width: 300px;
    text-align: left;
}

.contact {
    padding-top: 50px;
    text-decoration: underline;
}

.cards {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.card1 {
    background-position: bottom;
    min-height: 250px;
    width: 100%;   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card1 h2, p {
    text-decoration: none;
    color: black;
}

.card2 h2, p {
    text-decoration: none;
    color: black;
}

.card3 h2, p {
    text-decoration: none;
    color: black;
}

.card4 h2, p {
    text-decoration: none;
    color: black;
}

.card5 h2, p {
    text-decoration: none;
    color: black;
}

.card2 {
    background-position: bottom;
    min-height: 250px;
    width: 50%;   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card3 {
    background-position: bottom;
    min-height: 250px;
    width: 50%;   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card4 {
    background-position: bottom;
    min-height: 250px;
    width: 50%;   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card5 {
    background-image: url(//assets/images/hori.png);
    background-position: center;
    min-height: 250px;
    width: 50%;   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card2 h2, p {
    text-decoration: none;
    color: black;
}

.verticalLine {
    height: 100px;
    border-right: 3px solid rgb(80, 176, 221);
    right: 50%;
}

.verticalLine1 {
    height: 720px;
    border-right: 3px solid rgb(80, 176, 221);
    right: 50%;
}

.verticalLine2 {
    height: 150px;
    border-right: 3px solid rgb(80, 176, 221);
    right: 50%;
}


/* Tablet View */
@media (max-width: 768px) {

    nav {
        display: none;
    }

    #second{
        width: 60%;
    }

    img {
        display: none;
    }

    .col-1 {
        flex-basis: 50%
    }
    
    .col-3 {
        flex-basis: 50%;
    }


    .card2 {
        width: 100%;   
    }

    .card3 {
        width: 100%;  
    }

    .card4 {
        width: 100%; 
    }

    .card5 {
        width: 100%; 
    }

}

/* Mobile View */
@media (max-width: 500px) {

    #second{
        width: 95%;
    }

    h1 {
        text-align: center;
    }

    .col-1 {
        flex-basis: 100%;
    }
    
    .col-3 {
        flex-basis: 100%;
    }

    .card2 {
        width: 100%;   
    }

}